html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moda {
    width: 100%;
    text-align: center;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.moda p {
    margin: auto;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background: linear-gradient(to right, #000, #333, #444);
    width: 100%;
    box-sizing: border-box;
}

.header-logo {
    text-align: center;
    width: 840px;
}

.header-logo img {
    max-height: 100px;
}

.menu-principal {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    justify-content: center;
}

.menu-item {
    color: white;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item a:hover {
    color: #666;
    text-decoration: none;
}

.menu span {
    color: white;
    padding: 20px;
}

.cadastre-se {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 15px 30px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
}

.cadastre-se:hover {
    color: #000;
    background-color: white;
    text-decoration: none;
}

.contato {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

.contato h4 {
    font-size: 30px;
    height: 3px;
}

.contato p {
    font-size: 25pxpx;
}

.input-flex {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
}

.box-1 {
    width: 400px;
}

.form-input {
    margin-bottom: 40px;
}

.box-2 {
    width: 400px;
}

.rodape {
    background: linear-gradient(to right, #000, #333, #444);
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 1px;
}

.rodape h4 {
    font-size: 25px;
}

.rodape p {
    font-size: 15px;
}

.institucional {
    color: white;
    margin-top: 10px;
    margin-left: 60px;
}

.redes {
    color: white;
    margin-top: 10px;
}
.redes img{
    width: 35px;
    height: 35px;
    margin-right: 70px;
}

footer {
    background: linear-gradient(to right, #000, #333, #444);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}